@font-face {
    font-family: formula;
    src: url('Formula1-Bold_web_0.ttf') ,
    url('Formula1-Regular_web_0 (1).ttf');
}
* {
    margin: 0;
    padding: 0;
}

.web-container{
    height: 100vh;
}

body{
    font-family: formula;
    /* overflow: scroll; */
}


.container{
    
    display: flex;
    height: 100%;
    
   padding-left: 30px;
   /* margin-bottom: 20vh; */
   padding-top: 11rem;
   
}
.img-back{
    /* display: flex; */
    height: 40%;
    width: 100%;
    background-image:url("./../image/cropped-IMG-20230902-WA0002.jpg");
}

.background{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    z-index: -1;
    position:absolute;
    object-fit: fill;
}

.img-back .info{
    display: flex;
    flex-direction: column;
    /* justify-self: center; */
    align-items: center;
    /* width: 100%; */
    justify-content: center;
    /* margin-bottom: 230px; */
   
    
  
}

.info{
    font-family: formula;
    /* margin-top: 100px; */
    font-size: 3rem;
    padding-top: 100px;
    padding-left: 15%;
    /* margin-top: 100px; */
    width: 700px;
    /* padding-top:100 ; */
    color: rgb(255, 255, 255);
    /* color: brown; */
    line-height: 60px;
    
   
}
.right-head i{
    font-size: 17px;
    border: solid;
    padding: 7px;
    border-radius: 30px;
}

.info h2{
    animation: s 1s ease backwards;
    animation-delay: calc(.3s* var(--i));
}


@keyframes slideright{
    0%{
        transform: translateY(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes s{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


 
.block{
    margin-top: 30vh;
    height: 100vh;
    gap: 100px;
    margin-bottom: 90px;
}
.row1{
    margin-top: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.row{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.member{
    display: grid;
    align-items: center;
    justify-content: center;
    
}
.sub-block{
    display: grid;
    width: 200px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
    background-color: rgb(253, 245, 234);

  }

  .member .img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: -74px;
  }
  .name{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left:6px;
  }
  .connection{
    margin-top: 4px;
    margin-left: 6px;
    margin-bottom: 10px;
    text-align: center;
  }

  .foot {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem; */
    background-color: #006435;
    /* z-index: 999; */
    height: 15rem;
    width: 100%;
        color: white;
  }

  .contact {
    flex-wrap: wrap;
 
    display: flex;
    flex: 1;
    align-items: center;
  
}

  .social-media {
    display: flex;
    flex: 1;
    align-items: center;
  }

  
.info_ {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 10px;
}

.buttons_ {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;

}

.buttons_ i {
    padding: 5px;
    font-size: 16px;
    border-radius:100px; 
    border:solid;
    color: white;
}

@media screen and (min-width:768px){
    .background{
        height: 50%;
        width: 100vw;
        margin-top: 0px;
        z-index: -1;
        position:relative;
        object-fit: cover;
    }
    /* .container{
        padding-top:0px;
    } */
    #heading-c{
        margin-top:0px;
    }

    .img-back{
        height: 85%;
    }
}

/* 
@media(max-width:700px) and (min-width:0px){
    .img-back img{
        height: 0px;
    }
}
@media(max-width:2000px) and (min-width:0px){
    #row1-block1{
        margin-top:20vh;
    }
    #row1-block2{
        margin-top:20vh;
    }
}
#heading-c{
    margin-top:-10px;
} */

/* @media only screen and (max-width:700px){
    .container{
      padding-top: 10px;
    }
    .img-back img{
      height: 100%;
      width: 100%;
      margin-top: 0px;
      z-index: -1;
      position:fixed;
      object-fit: fixed;
    }
  } */
